.sidebar {
    background-color:rgb(196, 191, 191) rf8f9fa; 
    padding: 20px;
    width: 540px;
  }
  
  .breadcrumb {
    background-color: transparent; 
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">"; 
    color: #ccc; 
      margin: 0 5px;
  }
  .user-info {
    text-align: center;
    margin-bottom: 20px;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 12px;
  }
  
  .user-info img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    
  }
  
  .nav-link {
    color: #333;
    display: flex;
    align-items: center;
    padding: 24px 50px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #ccc;
   
  }
  
  .nav-link:hover {
    background-color: #e9ecef; /* Light gray hover background */
  }
  
  .nav-link i {
    margin-right: 64px;
 
  }
  .p{
    text-align: justify;
  }
  .wishlist-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: flex; /* Use flexbox for better alignment */
    align-items: center;
  }
  
  .product-image {
    width: 80px;
    margin-right: 20px;
  }
  
  .product-info {
    flex-grow: 1; /* Allow product info to take up remaining space */
  }
  
  .product-info h5 {
    margin-bottom: 5px;
  }
  
  .product-info p {
    margin-bottom: 0;
    color: #888; /* Light gray for product description */
  }
  
  .price {
    font-weight: normal;
  }
  
  .remove-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .row{
    display: -ms-flexbox;
    display: flex;  
    margin-bottom: 20px;
  }
  .nav-link{
    padding: 50px;
    font-size: 24px;
  }
  .wishlist-item{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  .wishlist-header{
    border: 1px solid #ccc;
    padding: 10px;
  }
  .user-name{
    text-align: center;
  font-size: 24px;
  flex-direction: row;
    
  }
  .price{
    font-weight: bold;
  }
  